<li class="item flexrow" data-item-id="{{item._id}}">
    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
    <h4 class="item-name">{{item.name}}</h4>
    <div class="item-controls">
        <a class="item-control item-edit" title="{{localize 'HOGWARTS.Edit'}}"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="{{localize 'HOGWARTS.Delete'}}"><i class="fas fa-trash"></i></a>
    </div>
</li>