<div class="tab-content conditions-list">
    <!-- Asustado/a -->
    <div class="condition-item">
        <div class="condition-header">
            <input type="checkbox" name="system.conditions.afraid" {{checked system.conditions.afraid}} />
            <label>{{localize "HOGWARTS.Afraid"}}</label>
        </div>
        <p class="condition-desc">{{localize "HOGWARTS.AfraidDesc"}}</p>
    </div>

    <!-- Enfadado/a -->
    <div class="condition-item">
        <div class="condition-header">
            <input type="checkbox" name="system.conditions.angry" {{checked system.conditions.angry}} />
            <label>{{localize "HOGWARTS.Angry"}}</label>
        </div>
        <p class="condition-desc">{{localize "HOGWARTS.AngryDesc"}}</p>
    </div>

    <!-- Estresado/a -->
    <div class="condition-item">
        <div class="condition-header">
            <input type="checkbox" name="system.conditions.stressed" {{checked system.conditions.stressed}} />
            <label>{{localize "HOGWARTS.Stressed"}}</label>
        </div>
        <p class="condition-desc">{{localize "HOGWARTS.StressedDesc"}}</p>
    </div>

    <!-- Celoso/a -->
    <div class="condition-item">
        <div class="condition-header">
            <input type="checkbox" name="system.conditions.jealous" {{checked system.conditions.jealous}} />
            <label>{{localize "HOGWARTS.Jealous"}}</label>
        </div>
        <p class="condition-desc">{{localize "HOGWARTS.JealousDesc"}}</p>
    </div>

    <!-- Avergonzado/a -->
    <div class="condition-item">
        <div class="condition-header">
            <input type="checkbox" name="system.conditions.embarrassed" {{checked system.conditions.embarrassed}} />
            <label>{{localize "HOGWARTS.Embarrassed"}}</label>
        </div>
        <p class="condition-desc">{{localize "HOGWARTS.EmbarrassedDesc"}}</p>
    </div>

    <!-- Herido/a -->
    <div class="condition-item">
        <div class="condition-header">
            <input type="checkbox" name="system.conditions.hurt" {{checked system.conditions.hurt}} />
            <label>{{localize "HOGWARTS.Hurt"}}</label>
        </div>
        <p class="condition-desc">{{localize "HOGWARTS.HurtDesc"}}</p>
    </div>

    <!-- Hechizado/a -->
    <div class="condition-item">
        <div class="condition-header">
            <input type="checkbox" name="system.conditions.hexed" {{checked system.conditions.hexed}} />
            <label>{{localize "HOGWARTS.Hexed"}}</label>
        </div>
        <p class="condition-desc">{{localize "HOGWARTS.HexedDesc"}}</p>
    </div>

    <!-- Inconsciente -->
    <div class="condition-item">
        <div class="condition-header">
            <input type="checkbox" name="system.conditions.unconscious" {{checked system.conditions.unconscious}} />
            <label>{{localize "HOGWARTS.Unconscious"}}</label>
        </div>
        <p class="condition-desc">{{localize "HOGWARTS.UnconsciousDesc"}}</p>
    </div>

    <hr>

    <!-- Secuela -->
    <div class="sequel-input form-group">
        <label>{{localize "HOGWARTS.Sequel"}}</label>
        <input type="text" name="system.sequel" value="{{system.sequel}}"/>
    </div>
</div>